{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "env": {
    "commonjs": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "extends": ["digitalbazaar"]
}
